
<div class="app-container-big" #appContainerBig [ngStyle]="{ direction: isRtl ? 'rtl' : 'ltr' }">

    <h1 class="title-text" #titleElement [textContent]="titleText" dir="rtl">שלום!</h1>

    <!-- Grid for the answer choices -->
    <div [ngStyle]="gridStyle" #choicesGrid class="choices-grid">
        <div 
            *ngFor="let choice of choices; let i = index" 
            class="choice-container"
            [ngStyle]="getAlignment(i)"
            >

            <button 
                #choiceButton 
                class="choice-button" 
                [ngStyle]="{
                    'background-image': images[i] ? 'url(' + images[i] + ')' : 'none',
                    'background-size': 'contain',
                    'background-position': 'center',
                    'background-repeat': 'no-repeat'
                    }"
                (mouseenter)="onMouseEnter(choiceButton, i)"
                (mouseleave)="onMouseLeave(choiceButton, i)"
                (click)="onMouseClick(choiceButton, i)"
            >
                
                <p class="button-text">{{ choice }}</p>
            </button>
         </div>
    </div>

    <button
    #sendButton 
    *ngIf="isMultiChoice"
    (click)="sendAnswer()"
    > Send Answer </button>

     <!-- Progress Bar -->
     <div #progressContainer class="progress-container" *ngIf="this.timeLimit !== -1">
        <div class="progress-bar" [ngStyle]="{ 'width': progress + '%' }"></div>
    </div>

  </div>